@using QuizIT.Service.Entities
@using QuizIT.Service.Models
@using QuizIT.Common.Models
@model List<Question>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Câu hỏi</th>
            <th>Chủ đề</th>
            <th>Đáp án A</th>
            <th>Đáp án B</th>
            <th>Đáp án C</th>
            <th>Đáp án D</th>
            <th>Đáp án đúng</th>
            @*<th>Thao tác</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr data-target="@question.Id">
                <td class="mx-200" data-toggle="tooltip" title="@question.Content.Trim()">@question.Content.Trim()</td>
                <td>@question.Category.CategoryName.Trim()</td>
                <td class="mx-200" data-toggle="tooltip" title="@question.AnswerA.Trim()">@question.AnswerA.Trim()</td>
                <td class="mx-200" data-toggle="tooltip" title="@question.AnswerB.Trim()">@question.AnswerB.Trim()</td>
                <td class="mx-200" data-toggle="tooltip" title="@question.AnswerC.Trim()">@question.AnswerC.Trim()</td>
                <td class="mx-200" data-toggle="tooltip" title="@question.AnswerD.Trim()">@question.AnswerD.Trim()</td>
                <td>@question.AnswerCorrect.Trim()</td>
                @*<td>
                        <i class="bx bx-trash text-danger btn-delete-question"></i>
                    </td>*@
            </tr>
        }

    </tbody>
</table>